.bioclass-trait-row {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}

.bioclass-trait-main {
  flex: 1;
}

.bioclass-trait-name-row {
  display: flex;
  align-items: center;
}

.bioclass-trait-link {
  margin-left: 0.5em;
}

.bioclass-trait-controls {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.25rem;
}
